@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.image-container {
  overflow: hidden;
}

.image-container:hover img {
  animation: scrollAnimation 5s linear forwards; /* Adjust the duration as needed */
}

@keyframes scrollAnimation {
  to {
    transform: translateY(
      calc(-100% + 301px)
    ); /* Adjust the value based on the image height */
  }
}
